<!DOCTYPE html>
<html>
	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		  <!-- Angular Material style sheet -->
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
	  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
	  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

	  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

	  	 <!-- Angular Material Library -->
  		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

		<script type="text/javascript" src="services/dataService.js"></script>

		<script type="text/javascript" src="services/dateFormattingService.js"></script>

  		<script type="text/javascript" src="controllers/schedulingController.js"></script>

  		<script type="text/javascript" src="controllers/addEventController.js"></script>

  		<script type="text/javascript" src="controllers/calenderController.js"></script>

  		<script type="text/javascript" src="controllers/reportController.js"></script>

  		<script type="text/javascript" src="controllers/route.js"></script>

  		<script type="text/javascript" src="filter/timeFilter.js"></script>

  		<!--testing files-->
  		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jasmine/3.1.0/jasmine.min.css">

  		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/3.1.0/jasmine.min.js"></script>

  		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/3.1.0/jasmine-html.min.js"></script>

  		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/3.1.0/boot.min.js"></script>

  		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-mocks/1.6.10/angular-mocks.min.js"></script>

  		<script type="text/javascript" src="test/calenderController-Test.js"></script>
  		<script type="text/javascript" src="test/reportController-Test.js"></script>
  		<script type="text/javascript" src="test/timeFilter-Test.js"></script>
  		<script type="text/javascript" src="test/dataService-Test.js"></script>
  		<script type="text/javascript" src="test/dateFormattingService-Test.js"></script>

		<!-- Bootstrap files -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<link rel = "stylesheet" type = "text/css" href = "stylesheets/style.css" />

		<!--ui bootstrap for modal-->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>

		<!--Highcharts-->
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script src="https://code.highcharts.com/modules/export-data.js"></script>
		
	</head>

	<body ng-app = "schedulerApp" ng-controller="scheduleController as vm" ng-cloak>

		<div class="titleAndLogo">
			<img src="/images/service-now-logo.png" width="20%">
		</div>

		<div class="navigationButtons">
			<a ng-hide = "!defaultView" class="btn btn-primary" href="#!/report" role="button">View weekly report</a>
			<a ng-hide = "defaultView" class="btn btn-primary" href="#!/calender" role="button">View calender</a>
		</div>

		<ng-view></ng-view>

	</body>
</html>