.taskClass {
	background-color: lightblue;
}

.meetingClass {
	background-color: lightgreen;
}

.alignCenter {
	margin: auto;
}

.alignDatepicker {
    margin : auto;
    display : flex;
}

.addEvent {
	margin: 20px 0px 20px 130px;
}

.addEventTitle {
	text-align: center;
}

.titleAndLogo {
    top:0;
	text-align: center;
}

.arrow-up {
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom : 10px solid black;
    display: inline-block;
}

.arrow-down {
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top : 10px solid black;
    display: inline-block;
}

.navigationButtons {
	position:absolute;
    top:25px;
    right:25px;
}

.previous {
    background-color: #4CAF50;
    color: white;
}

.next {
    background-color: #4CAF50;
    color: white;
}

.round {
    border-radius: 10%;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.alignCenter {
    text-align: center;
}