<div ng-controller="calenderController as vm">
	
	<md-content layout-padding ng-cloak>
		  <div layout-gt-xs="row">

		  	<div class="alignDatepicker">

		  		<button class="previous round" ng-click = "vm.previousDate()">&#8249;</button>

		  		<div flex-gt-xs>
		      		<md-datepicker style = "margin-right: 2px" ng-model="vm.selectedDate" md-placeholder="Enter date" ng-change = "vm.findUserEventsForDate()"></md-datepicker>
		    	</div>

		    	<button class="next round" ng-click = "vm.nextDate()">&#8250;</button>
		  	</div>
		    
		  </div>
		</md-content>

		<table class="table table-bordered">
		  <thead>
		    <tr>
		      <th class = "alignCenter">Name</th>
		      <th class = "alignCenter" scope="col" ng-repeat = "timing in vm.events.allowedTimes">
		      	{{timing | timeFilter}}
		      </th>
		    </tr>
		  </thead>
		  <tbody ng-repeat = "userEvent in vm.events.userDetails">
		    <tr>
		      <th class = "alignCenter" scope="row">{{userEvent.userName}}</th>
		      
		      <td class = "alignCenter" ng-repeat = "userSchedule in userEvent.schedule" ng-click = "vm.addTask(userSchedule, $index, $parent.$index)" ng-class="{taskClass: userSchedule.type === 'task', meetingClass: userSchedule.type === 'meeting'}">
		      		{{userSchedule.name}}
		  	  </td>
		    </tr>
		  </tbody>
		</table>


	<div ng-show="vm.addSuccess" style = "width: fit-content ; margin : auto" class="alert alert-success">
	  <strong>Success!</strong> Added meeting request successfully.
	</div>
	
	<div ng-show="vm.someError" style = "width: fit-content ; margin : auto" class="alert alert-danger" role="alert">{{vm.errorMessage}}
	</div>
</div>