<!-- <h2 class="titleAndLogo">Weekly Reports</h2> -->

		<table class="table table-bordered">
		  <thead>
		    <tr>
		      <th class = "alignCenter">Name</th>
		      <th class = "alignCenter" scope="col" ng-repeat = "date in vm.resultObject.datesThisWeek">
		      	{{date}}
		      </th>
		      <th class = "alignCenter" ng-click = "vm.reverse = !vm.reverse">Total time occupied
		      <div ng-class = "vm.getSortClass()"></div>
		      </th>
		    </tr>
		  </thead>
		  <tbody ng-repeat = "result in vm.resultObject.weeklyResult | orderBy : 'totalTimeOccupied' : vm.reverse">
		    <tr>
		      <th class = "alignCenter" scope="row">{{result.name}}</th>
		      
		      <td class = "alignCenter" ng-repeat = "(date, work) in result.dateAndWork">
		      		{{work}}
		  	  </td>

		      <td class = "alignCenter">
		      		{{result.totalTimeOccupied}}
		  	  </td>
		    </tr>
		  </tbody>
		</table>


	<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>